temp_chunks
application/temp_chunks
test_frame
application/test_frame
application/streamer-old
nike.mp4
logs
application/logs
janvi.txt
*pycache*
*.pyc
*.mp4
.DS_Store
application/.DS_Store
*pythonsqlite.db*
nike.mp4
*.lic
.dockerignore
input
output*
process_video_folder.py
